<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.SIMConnectionString" connectionString="Data Source=DESKTOP-F78VKSE;Initial Catalog=SIM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAO.Properties.Settings.SimConnectionString1" connectionString="Data Source=.\sqlexpress;Initial Catalog=Sim;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAO.Properties.Settings.SimConnectionString2" connectionString="Data Source=HIENCOMPUTER;Initial Catalog=Sim;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>