USE [Sim]
GO
/****** Object:  Table [dbo].[Hd]    Script Date: 29/03/2019 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hd](
	[MaHd] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Hd] PRIMARY KEY CLUSTERED 
(
	[MaHd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HdCt]    Script Date: 29/03/2019 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HdCt](
	[MaHd] [int] NOT NULL,
	[MaKh] [int] NOT NULL,
 CONSTRAINT [PK_HdCt] PRIMARY KEY CLUSTERED 
(
	[MaHd] ASC,
	[MaKh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HdDk]    Script Date: 29/03/2019 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HdDk](
	[MaHdDk] [int] IDENTITY(1,1) NOT NULL,
	[ChiPhiDk] [varchar](255) NULL,
 CONSTRAINT [PK_HdDk] PRIMARY KEY CLUSTERED 
(
	[MaHdDk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HdDkCt]    Script Date: 29/03/2019 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HdDkCt](
	[MaHkDk] [int] NOT NULL,
	[MaKh] [int] NOT NULL,
 CONSTRAINT [PK_HdDkCt] PRIMARY KEY CLUSTERED 
(
	[MaHkDk] ASC,
	[MaKh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kh]    Script Date: 29/03/2019 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kh](
	[MaKh] [int] IDENTITY(1,1) NOT NULL,
	[TenKh] [nvarchar](255) NULL,
	[NgheNghiep] [nvarchar](255) NULL,
	[ChucVu] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
 CONSTRAINT [PK_Kh] PRIMARY KEY CLUSTERED 
(
	[MaKh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sd]    Script Date: 29/03/2019 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sd](
	[MaSd] [int] IDENTITY(1,1) NOT NULL,
	[MaKh] [int] NULL,
	[MaHd] [int] NULL,
	[MaSim] [int] NULL,
	[TgBd] [datetime] NULL,
	[TgKt] [datetime] NULL,
 CONSTRAINT [PK_Sd] PRIMARY KEY CLUSTERED 
(
	[MaSd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sim]    Script Date: 29/03/2019 2:02:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sim](
	[MaSim] [int] IDENTITY(1,1) NOT NULL,
	[SoSim] [varchar](255) NULL,
	[MaHdDk] [int] NULL,
	[MaKh] [int] NULL,
 CONSTRAINT [PK_Sim] PRIMARY KEY CLUSTERED 
(
	[MaSim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[HdCt]  WITH CHECK ADD  CONSTRAINT [FK_HdCt_Hd] FOREIGN KEY([MaHd])
REFERENCES [dbo].[Hd] ([MaHd])
GO
ALTER TABLE [dbo].[HdCt] CHECK CONSTRAINT [FK_HdCt_Hd]
GO
ALTER TABLE [dbo].[HdCt]  WITH CHECK ADD  CONSTRAINT [FK_HdCt_Kh] FOREIGN KEY([MaKh])
REFERENCES [dbo].[Kh] ([MaKh])
GO
ALTER TABLE [dbo].[HdCt] CHECK CONSTRAINT [FK_HdCt_Kh]
GO
ALTER TABLE [dbo].[HdDkCt]  WITH CHECK ADD  CONSTRAINT [FK_HdDkCt_HdDk] FOREIGN KEY([MaHkDk])
REFERENCES [dbo].[HdDk] ([MaHdDk])
GO
ALTER TABLE [dbo].[HdDkCt] CHECK CONSTRAINT [FK_HdDkCt_HdDk]
GO
ALTER TABLE [dbo].[HdDkCt]  WITH CHECK ADD  CONSTRAINT [FK_HdDkCt_Kh] FOREIGN KEY([MaKh])
REFERENCES [dbo].[Kh] ([MaKh])
GO
ALTER TABLE [dbo].[HdDkCt] CHECK CONSTRAINT [FK_HdDkCt_Kh]
GO
ALTER TABLE [dbo].[Sd]  WITH CHECK ADD  CONSTRAINT [FK_Sd_HdCt] FOREIGN KEY([MaHd], [MaKh])
REFERENCES [dbo].[HdCt] ([MaHd], [MaKh])
GO
ALTER TABLE [dbo].[Sd] CHECK CONSTRAINT [FK_Sd_HdCt]
GO
ALTER TABLE [dbo].[Sd]  WITH CHECK ADD  CONSTRAINT [FK_Sd_Sim] FOREIGN KEY([MaSim])
REFERENCES [dbo].[Sim] ([MaSim])
GO
ALTER TABLE [dbo].[Sd] CHECK CONSTRAINT [FK_Sd_Sim]
GO
ALTER TABLE [dbo].[Sim]  WITH CHECK ADD  CONSTRAINT [FK_Sim_HdDkCt] FOREIGN KEY([MaHdDk], [MaKh])
REFERENCES [dbo].[HdDkCt] ([MaHkDk], [MaKh])
GO
ALTER TABLE [dbo].[Sim] CHECK CONSTRAINT [FK_Sim_HdDkCt]
GO
